@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
	max-width:1700px;
	background-color:#212529;
}
/*---Global Styles---*/

h2 {
  font-family: 'Press Start 2P', cursive;	color:#90be6d;
  font-size: 36px;
}
h3 {
  font-family: 'Press Start 2P', cursive;	color:black;
  font-size: 26px;
}
p	{
  font-family: 'Quicksand', sans-serif;
  color:white;
}


/*--header--*/

#header {
	margin-top: 100px;
	margin-bottom: -50px;
}
#jumbo-header{
  font-family: 'Press Start 2P', cursive;	color:white;
	text-align: right;
  padding-right: 5%;
}

.jumbotron{
  position: relative;
  overflow: hidden;
  padding:0px !important;
 }
.container .text-center{
  z-index: 1000 !important;
}
.video-background:before{
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 position: absolute;
 content: "";
}
.video-background {
  position: relative;
 background: #222;
width:100%;
z-index:5;
  }
#video-background{
 background-size: cover;
}
.cover-text{
position:absolute;
width:100%;
text-align:center;
z-index:9999;
top:5em;
}

.cover-text h1, .cover-text p{
color:#fff !important;
 }
.header-inner {
	margin-top: 10%;
}



#aboutme{
  margin-top:10%;
}




/*--Navigation Bar--*/

a,
a:focus,
a:hover {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	-moz-transition: color 0.5s;
	-webkit-transition:color 0.5s;
	transition: color 0.5s;
}

.navbar-fixed-top {
	height: 9%;
	padding: .5% 5% .5% 5%;
}
.navbar-brand{
	padding: 0px;
}
.navbar-brand > img{
	max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
   -o-object-fit: contain;
   object-fit: contain;

}
.contactnav{
	background:#343a40;
}
.navbar-toggle {
	position: relative;
	float:right;
	padding: 9x 10px;
	margin: 8px 15px 8px;
	background-color: transparent;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #343a40;
}

.icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	border: 1px solid white;
}

 .fixednav {
	 background: #343a40;
	 border-bottom: .5px solid #000000;
	   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
.navbar-nav > li > a {
  font-weight: bold;
  color: white;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  color: #90be6d;
  border-bottom-color: #f72585;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #90be6d;
}



/*---Section---*/
div.syntaxpb{
   background-image: url("syntaxpurp.png");
   background-attachment:fixed;
   background-repeat: no-repeat;
   background-size:cover;
   height:200px;
   margin-top:10%;
}

div.mac{
  background-image: url("circuit.png");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size:cover;
  height:400px;
  margin-top:7%;
  margin-bottom:10%;
}



/*--Skill Card--*/
h1.subheading {
	font-family: 'Press Start 2P', cursive;	color:#90be6d;
	font-size: 36px;
	color:#90be6d;
	margin-bottom: 100px;
	text-align:center;
	opacity:0;
	transform: translateY(30px);
	transition: all 1s ease-out;
}
h1.subheading.fade-in{
	opacity:1;
	transform: translateY(0px);
}
h2.card-heading{
  font-size: 18px;
  text-align: center;
  color:#90be6d;

}

div.col-md-4.text-center.icon_cardMid{
	border:.2px solid #000000;
	padding-top: 10px;
	margin: 0 .3em 0 .3em;
}

div#skill-card{
	transition: transform 1s;
  background-color: #343a40;
}
div#skill-card:hover{
	transform:translate(0px,-20px);
}

div.box-shadow{
	height:400px;
	margin-left:6%;
	box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
  border-radius: 10px;
-webkit-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
}

div.card-inner{
	padding: 10% 5% 15% 5%;
}





#container2-skill-cards {
	display:inline-block;
	margin-top: 160px;
	margin-bottom:100px;
}
#section-break{
	height: 0;
	width:auto;
	padding-left:20%;
	padding-right:20%;
}
#container_hr2{
	height: 0;
	width:auto;
	padding-left:30%;
	padding-right:30%;
	margin-bottom: 1em;
}

#contentbreak {
	height: 80px;
}
h2 {
  font-family: 'Press Start 2P', cursive;	color:black;
	font-size: 24px;
	color: black;
}
br{
	display:block;
	margin:10px 0;
}
p#scene-3{
	opacity:0;
	transform: translateY(40px);
	transition: all 1s ease-out;
}
p#scene-3.fade-in{
	opacity:1;
	transform: translateX(0);
}
h2#scene-2{
  font-size: 36px;
  color:#90be6d;
	opacity:0;
	transform: translateX(-70px);
	transition: all 2s ease-out;
}
h2#scene-2.fade-in{
	opacity:1;
	transform: translateX(0);
}
img#scene-1{
	opacity:0;
	transform: translateY(50px);
	transition: all 1s ease-out;
}
img#scene-1.fade-in{
	opacity:1;
	transform: translateY(0);
}

.biopic img{
  box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
}

.no-padding{
	padding-left:0;
	padding-right:0;
	background-color:#363636;
}
#col-bottom{
	margin-top: 5px;
}




/*--Work Gallery Grid--*/

.column{
	margin-bottom: 10px;
}
.col-centered{
	float:none;
	margin: 0 auto;
}

#gallery-grid{
	margin-top:200px;
}



/*--Favicon-Icons--*/
#icondiv{
	text-align:center;
}
#favicons{
	display:inline-block;
	margin: 0 5px 0 5px;
}

footer{
	height:50px;
	background-color: #253237;
}






/*-- Contact Me Section--*/

.contact-section{
  padding-bottom:15%;
  padding-top:5%;
  background-color: #212529;
}
.contact-form{
  background-color:#343a40;
}

h3.form-title {
	font-family: 'Press Start 2P', cursive;
  color:#90be6d;
	font-size: 36px;
	margin:8% 0 4% 0;
	text-align:center;
}
.contact-p	{
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin-bottom:2%;
}
.form-shadow{
  height:450px;
  box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 0px 60px -3px rgba(0,0,0,0.60);
}
.message-field{
  margin-top:2%;
}
.contact-btn{
  margin-top:2%;
}

/*--End Contact Me Section--*/









/*--Media Queries --*/
@media only screen and (min-device-width:768px) and (max-device-width:900px){
	nav.navbar-right.navbar-fixed-top.fixednav{
		height: 10%;
	}

	div.container-fluid#maincontent{
		padding: 5% 15% 0 15% !important;
	}

	div#container_hr2 {
		display:none;
	}
  h2.card-heading{
    font-size: 14px;
    text-align: center;

  }
}
@media only screen and (min-device-width:320px) and (max-device-width:555px) {

	nav.navbar-right.navbar-fixed-top.fixednav{
		height: 9%;
	}

	div.container-fluid#maincontent{
		padding: 5% 15% 0 15% !important;
	}

	div#container_hr2 {
		display:none;
	}

	div#skill-card{
		margin-bottom:5%;
    margin-right:8%;
  }

    .collapse{
  height: auto;
  widgth: 100%;
  background-color: #343a40;
  }
  h3.form-title{
    font-family: 'Press Start 2P', cursive;
    color: #90be6d;
    font-size: 24px;
    margin: 12% 0 4% 0;
    text-align: center;
  }
 }
